@charset "UTF-8";
body,td,th {
	font-size: 1.5em;
}
body {
	background-color: #BFBEBD;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	width: 100%;
}
#container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#topNav {
	max-width:750px;
	margin:auto;
	padding-top:15px;
}

#topNav li {
	float: left;
	list-style:none;
	padding: 0 30px;
	
}
.logoA {
	margin-top:-12px;}


#topNav li a {
	font-family: shadows-into-light;
}

#wrapperA {
	width: 100%;
	background-color: #d9d9d9;
	height: 400px;
	margin-bottom: 25px;
	margin-top: -50px;
}

#imageScroll {
	max-width: 75px;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 53px;
	}
		
#wrapperA h1 {
	font-family: shadows-into-light;
	font-weight: 400;
	font-size: 3em;
	color: #a6906c;
	text-align: center;
	padding-top: 100px;
	margin-bottom: -15px;
	margin-right: auto;
	margin-left: auto;
}
#wrapperA h2 {
	font-family: nixie-one;
	font-weight: 400;
	font-size: 1em;
	color: #A9A9A9;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	}
#wrapperB {
	width: 100%;
	background-color: #d9d1c7;
	height: 418px;
	margin-bottom: 25px;
	margin-top: -30px;
}
#wrapperJ {
	width: 100%;
	background-color: #d9d1c7;
	margin-bottom: 25px;
	margin-top: -30px;
	padding-bottom: 10px;
}
#wrapperK {
	width: 100%;
	background-color: #d9d1c7;
	margin-bottom: 25px;
	margin-top: -56px;
	padding-bottom: 10px;
}
#wrapperL {
	width: 100%;
	background-color: #d9d1c7;
	margin-bottom: 25px;
	margin-top: -53px;
	padding-bottom: 10px;
}
#wrapperM {
	width: 100%;
	background-color: #d9d1c7;
	margin-bottom: 25px;
	margin-top: -57px;
	padding-bottom: 10px;
}
#imageScrollB {
	max-width: 75px;
	margin-left: 300px;
	margin-top: 17px;
	margin-right: 300px;
	}

#wrapperC {
	width: 100%;
	background-color: #d9d9d9;
	margin-top: -30px;
	padding-bottom: 15px;
}
.innerWrapperOne {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	text-align: left;
}
.innerWrapperTwo {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	text-align: left;
}
.innerWrapperThree {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	text-align: left;
}
.innerWrapper dl {
	font-family: nixie-one;
	font-weight: 400;
	font-size: 1.3em;
	padding-bottom: 5px;
	margin-bottom: 30px;
	text-align:center;
	color: #202D4A;
}
.innerWrapperOne h1 {
	font-family: nixie-one;
	font-weight: 400;
	font-size: 1.5em;
	text-align: left;
	color: #A9A9A9;
	margin-left: -15px;
}
.innerWrapperTwo h1 {
	font-family: nixie-one;
	font-weight: 400;
	font-size: 1.5em;
	color: #A9A9A9;
	text-align: left;
	margin-left: -15px;
}

.innerWrapperOne p {
	font-family: nixie-one;
	font-weight: 400;
	font-size: 0.7em;
	text-align: left;
	margin-left: -10px;
	padding-top: 10px;
	color: #A9A9A9;
	font-style: normal;
	}
	
.innerWrapperTwo p {
	font-family: nixie-one;
	font-weight: 400;
	font-size: 0.7em;
	text-align: left;
	margin-left: -10px;
	padding-top: 10px;
	color: #A9A9A9;
	font-style: normal;
	}
	
#imageScrollC {
	max-width: 75px;
	margin-left: 300px;
	margin-top: 26px;
	margin-right: 300px;
	}
#imageScrollJ {
	max-width: 75px;
	margin-left: 300px;
	margin-top: 24px;
	margin-right: 300px;
	margin-bottom: 33px;
	}
	
#wrapperD {
	width: 100%;
	background-color: #d9d1c7;
	height: 689px;
	margin-top: -30px;
}
#imageScrollG {
	max-width: 75px;
	margin-left: 300px;
	margin-top: 9px;
	margin-right: 300px;
	padding-bottom: 5px;
	}
	
#wrapperG {
	width: 100%;
	background-color: #d9d1c7;
	height: 526px;
	margin-top: -30px;
}
#imageScrollI {
	max-width: 75px;
	margin-left: 300px;
	margin-top: 55px;
	margin-right: 300px;
	}
	
#wrapperI {
	width: 100%;
	background-color: #d9d9d9;
	margin-top: -30px;
}

	
#imageScrollD {
	max-width: 75px;
	margin-left: 300px;
	margin-top: 32px;
	margin-right: 300px;
	}
#wrapperE {
	width: 100%;
	background-color: #d9d9d9;
	height: 460px;
	margin-top: -28px;
}
#wrapperH {
	width: 100%;
	background-color: #d9d1c7;
	margin-top: -30px;
	padding-bottom: 10px;
}

#wrapperH h1 {
	font-family: nixie-one;
	font-weight: 400;
	font-size: 1.3em;
	text-align: left;
	color: #A9A9A9;
	margin-left: -15px;
}

	
#imageScrollE {
	max-width: 75px;
	margin-left: 300px;
	margin-top: 23px;
	margin-right: 300px;
	}

	
header img {
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#prototypePrograms {
	max-width:750px;
	margin:auto;
	padding-top:15px;
	}

#wrapperF {
	width: 100%;
	background-color: #d9d1c7;
	margin-top: -40px;
}
#prototypePrograms h1 {
	font-family: nixie-one;
	font-weight: 400;
	font-size: 1.3em;
	text-align: left;
	color: #A9A9A9;
	margin-left: -15px;
}

#prototypePrograms {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	text-align: left;
	}
	
#prototypePrograms li {
	float: left;
	list-style: none;
	padding-top: 0;
	padding-right: 30px;
	padding-bottom: 15px;
	color: #A9A9A9;
	font-family: nixie-one;
	font-style: normal;
	font-weight: 400;
	font-size: 0.8em;
	text-align: left;
	margin-left: -10px;
}

#prototypePrograms p {
	font-family:nixie-one;
	font-weight: 400;
	font-size: 0.8em;
	text-align: left;
	margin-left: -10px;
	padding-top: 10px;
	color: #A9A9A9;
	font-style: normal;
	}
	
#prototypePrograms li a {
	font-family: shadows-into-light;
}
#imageScrollF {
	max-width: 75px;
	margin-left: 300px;
	margin-top: 28px;
	margin-right: 300px;
	}

header {
	width:100%;
	height:75px;
	background-color:#fff;
}

a:link {
	color: #202d4a;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #202d4a;
}
a:hover {
	text-decoration: none;
	color: #A6906C;
}
a:active {
	text-decoration: none;
	color: #202d4a;
	background-image: url(url);
}

footer {
	width:100%;
	height:50px;
	background-color:#fff;
	margin-top:-30px;
}
#copyright {
	margin: auto;
	font-family:nixie-one;
	font-weight: 400;
	font-size: .5em;
	color: #202D4A;
	text-align:center;
	padding-top:20px;
	padding-bottom:5px;
}
.clearBoth {
	clear: both;

}

dt {
	font-family: loved-by-the-king;
	font-weight: 400;
	font-size: 1.3em;
	color: #202D4A;
	text-align: left;
	margin-left: -12px;
	font-style: normal;
	padding-top: 10px;
}

dd {
	font-family: nixie-one;
	font-weight: 400;
	font-size: 0.7em;
	text-align: left;
	margin-left: 10px;
	padding-top: 10px;
	color: #A9A9A9;
	font-style: normal;
	}
	
#prototypePrograms li a {
	font-family: shadows-into-light;
}
